<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dylag.piotr.e_kartawzorowmatematycznych">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".wartosc_bezwzgledna"></activity>

        <activity android:name=".PotegiPierwiastki"></activity>

        <activity android:name=".Logarytmy"></activity>

        <activity android:name=".SilniaDwumian"></activity>

        <activity android:name=".DwumianNew"></activity>

        <activity android:name=".WzorySkrMnoz"></activity>

        <activity android:name=".Ciagi"></activity>

        <activity android:name=".Plan"></activity>

        <activity android:name=".Kombi"></activity>

        <activity android:name=".Tryg"></activity>

        <activity android:name=".Rachpraw"></activity>

        <activity android:name=".ParDanStat"></activity>

        <activity android:name=".TabWarFunTryg"></activity>

        <activity android:name=".PochFun"></activity>

        <activity android:name=".GranCiag"></activity>

        <activity android:name=".Ster"></activity>

        <activity android:name=".GeoAna"></activity>

        <activity android:name=".FunKwad"></activity>




    </application>

</manifest>